<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>HelpBox Template</title>
</head>
<body>
<!-- ###HELPBOX_QUESTION### begin-->
    <div class="keq_tooltip">
        <img src="###HELPIMAGE###" alt="helpimage"/>
        <div class="keq_tip">
            ###HELPTEXT###
        </div>
    </div>
<!-- ###HELPBOX_QUESTION### begin-->

<!-- ###HELPBOX_ANSWER### begin-->
    <div class="keq_tooltip">
        <img src="###HELPIMAGE###" alt="helpimage"/>
        <div class="keq_tip">
            ###HELPTEXT###
        </div>
    </div>
<!-- ###HELPBOX_ANSWER### begin-->
</body>
</html>
