<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>HelpBox Template</title>
</head>
<body>
<!-- ###HELPBOX_QUESTION### begin-->
    <a class="keq_tooltip" href="#">
        <img src="###HELPIMAGE###" />
        <span class="keq_tip">
            ###HELPTEXT###
        </span>
    </a>
<!-- ###HELPBOX_QUESTION### begin-->

<!-- ###HELPBOX_ANSWER### begin-->
    <a class="keq_tooltip" href="#">
        <img src="###HELPIMAGE###" />
        <span class="keq_tip">
            ###HELPTEXT###
        </span>
    </a>
<!-- ###HELPBOX_ANSWER### begin-->
</body>
</html>
