<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<!-- ###QUESTION_DEMOGRAPHIC### begin-->

<div class="keq_unit">
	<div class="keq_img_left">###IMG_LEFT###</div>
	<div class="keq_img_right">###IMG_RIGHT###</div>
	<div class="keq_img_top">###IMG_TOP###</div>
	<div class="keq_question">
	    ###TITLE######TEXT###
	    ###HELPBOX###
	</div>
	<div class="keq_img_bottom">###IMG_BOTTOM###</div>
	<div class="keq_cleaner">&nbsp;</div>
	<div class="keq_demographic">
		<!-- ###FIELDS### begin-->
			<!-- ###DEMO_DEFAULT### begin-->
			<div class="###ODD_EVEN###">
				<!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
				<p><label for="keq_###NAME###">###LABEL###</label><input type="text" name="###PI###[###NAME###][fe_users][###FIELDNAME###]" id="keq_###NAME###" value="###VALUE###" class="keq_inp_large" /></p>
			</div>
			<!-- ###DEMO_DEFAULT### end-->

			<!-- ###DEMO_GENDER### begin-->
			<div class="###ODD_EVEN###">
			    <!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
			    <p><label for="###FIELDNAME###">###LABEL###</label>
			    <!-- ###OPTIONS### begin-->
				<!-- ###OPTION### begin-->
					<input type="radio" name="###PI###[###NAME###][fe_users][###FIELDNAME###]" value="###VALUE###" ###CHECKED### ###DEPENDANT_AJAX### id="keq_###NAME###"> <label for="keq_###NAME###">###LABEL###</label>
				<!-- ###OPTION### end-->
			    <!-- ###OPTIONS### end-->
			    </p>
			</div>
			<!-- ###DEMO_GENDER### end-->
			<!-- ###DEMO_STATUS### begin-->
			<div class="###ODD_EVEN###">
			    <p>
				<!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
				<label for="keq_###NAME###">###LABEL###</label>
					<select name="###PI###[###NAME###][fe_users][###FIELDNAME###]" id="keq_###NAME###">
						<!-- ###OPTIONS### begin-->
							<option>lorem ipsum</option>
							<option>lorem ipsum</option>
						<!-- ###OPTIONS### end-->
					</select>
			    </p>
			</div>
			<!-- ###DEMO_STATUS### end-->
			<p><label for="keq_###NAME###">###LABEL###</label><input type="radio" name="" /> w <input type="radio" name="" /> m</p>
			<p><label for="">Ausbildung</label><input type="text" name="" id="" value="" /></p>
			<p><label for="">Beruf</label><input type="text" name="" id="" value="" /></p>
		<!-- ###FIELDS### end-->

	</div>
</div>

<!-- ###QUESTION_DEMOGRAPHIC### end-->

<hr />

<!-- ###QUESTION_ADDRESS### begin-->

<div class="keq_unit">
	<div class="keq_img_left">###IMG_LEFT###</div>
	<div class="keq_img_right">###IMG_RIGHT###</div>
	<div class="keq_img_top">###IMG_TOP###</div>
	<div class="keq_question">
	    ###TITLE######TEXT###
	    ###HELPBOX###
	</div>
	<div class="keq_img_bottom">###IMG_BOTTOM###</div>
	<div class="keq_cleaner">&nbsp;</div>
	<div class="keq_demographic">
		<!-- ###FIELDS### begin-->

			<!-- ###DEMO_DEFAULT### begin-->
			<div class="###ODD_EVEN###">
			    <p>
				<label for="keq_###NAME###">###LABEL###</label>
				<input type="text" name="###PI###[###NAME###][tt_address][###FIELDNAME###]" id="keq_###NAME###" value="###VALUE###" class="keq_inp_large" />
			    </p>
			</div>
			<!-- ###DEMO_DEFAULT### end-->
		<!-- ###FIELDS### end-->

	</div>
</div>

<!-- ###QUESTION_ADDRESS### end-->



<!-- ###QUESTION_BOTH### begin-->

<div class="keq_unit">
	<div class="keq_img_left">###IMG_LEFT###</div>
	<div class="keq_img_right">###IMG_RIGHT###</div>
	<div class="keq_img_top">###IMG_TOP###</div>
	<div class="keq_question">
	    ###TITLE######TEXT###
	    ###HELPBOX###
	</div>
	<div class="keq_img_bottom">###IMG_BOTTOM###</div>
	<div class="keq_cleaner">&nbsp;</div>
	<div class="keq_demographic">
		<!-- ###FIELDS### begin-->

			<!-- ###DEMO_DEFAULT### begin-->
			<div class="###ODD_EVEN###">
				<!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
				<p><label for="keq_###NAME###">###LABEL###</label><input type="text" name="###PI###[###NAME###][###TABLE###][###FIELDNAME###]" id="keq_###NAME###" value="###VALUE###" class="keq_inp_large" /></p>
			</div>
			<!-- ###DEMO_DEFAULT### end-->

			<!-- ###DEMO_GENDER### begin-->
			<div class="###ODD_EVEN###">
			    <!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
			    <p><label for="keq_###NAME###">###LABEL###</label>
			    <!-- ###OPTIONS### begin-->
				<!-- ###OPTION### begin-->
						<input type="radio" name="###PI###[###NAME###][###TABLE###][###FIELDNAME###]" value="###VALUE###" ###CHECKED### ###DEPENDANT_AJAX###> ###LABEL###
					<!-- ###OPTION### end-->
				<!-- ###OPTIONS### end-->
			    </p>
			</div>
			<!-- ###DEMO_GENDER### end-->
			<!-- ###DEMO_STATUS### begin-->
			<div class="###ODD_EVEN###">
			    <p>
				<!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
				<label for="keq_###NAME###">###LABEL###</label>
					<select name="###PI###[###NAME###][###TABLE###][###FIELDNAME###]">
						<!-- ###OPTIONS### begin-->
							<option>lorem ipsum</option>
							<option>lorem ipsum</option>
						<!-- ###OPTIONS### end-->
					</select>
			    </p>
			</div>
			<!-- ###DEMO_STATUS### end-->
			<p><label for="keq_###NAME###">###LABEL###</label><input type="radio" name="" /> w <input type="radio" name="" /> m</p>
			<p><label for="">Ausbildung</label><input type="text" name="" id="" value="" /></p>
			<p><label for="">Beruf</label><input type="text" name="" id="" value="" /></p>
		<!-- ###FIELDS### end-->

	</div>
</div>
<!-- ###QUESTION_BOTH### end-->

<!-- ###DOMPDF### begin-->
<div class="question">
    <div class="question_title">###QUESTION_TITLE######QUESTION###</div>
    ###LINES###
</div>
<!-- ###DOMPDF### end-->
<!-- ###DOMPDF_LINE### begin-->
<div class="demographic_line">
	###TITLE### <div class="input">###VALUE###</div>
</div>
<!-- ###DOMPDF_LINE### end-->

</body>
</html>
