<html>
<head>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<!-- ###QUESTION_PRIVACY### begin-->

<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
	<div class="keq_img_left">###IMG_LEFT###</div>
	<div class="keq_img_right">###IMG_RIGHT###</div>
	<div class="keq_img_top">###IMG_TOP###</div>
	<div class="keq_question">
	    ###TITLE######TEXT###
	    ###HELPBOX###
	</div>
	<div class="keq_img_bottom">###IMG_BOTTOM###</div>
	<div class="keq_cleaner">&nbsp;</div>
	<div class="keq_privacy">
			<a href="###PRIVACY_LINK###" target="_blank">Link Datenschutzerkl&auml;rung</a>
			<!-- ###FIELDS### begin-->
				<!-- ###CHECKBOX### begin-->
					<!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end-->
					<input type="checkbox" name="###PI###[###NAME###][options][]" value="1" ###CHECKED###>
				<!-- ###CHECKBOX### end-->
			<!-- ###FIELDS### end-->
			 ###PRIVACY_TEXT###

	</div>
</div>

<!-- ###QUESTION_PRIVACY### end-->

</body>
</html>