<html>
<head>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<!-- ###QUESTION_MATRIX_RADIO### begin-->
<!-- <form method="GET" action="index.php"> -->

<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_question">
	###TITLE######TEXT###
	<!-- ###HELP### begin--><a class="keq_tooltip" href="#">
	    <img src="###HELPIMAGE###" />
	    <span class="keq_tip">
	        ###HELPTEXT###
	    </span>
	</a><!-- ###HELP### end-->
    </div>
    <div class="keq_selection">
	<table>
	    <thead>
		<tr>
		    <th></th>
		    <!-- ###HEAD### begin-->
			    <!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
			    <th>2</th>
			    <th>3</th>
		    <!-- ###HEAD### end-->
		    <th></th>
		</tr>
	    </thead>
	    <tbody>
		<!-- ###FIELDS### begin-->
		    <!-- ###SUBQUESTION### begin-->
		    <tr class="###ODD_EVEN###">
			<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### id="keq_###NAME###_###SUBQUESTION_ID###" type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###]" value="###VALUE###">
				<!-- ###INPUT### end-->
			</td>
			<!-- ###COLUMNS### begin-->
			    <!-- ###COLUMN### begin-->
			    <td class="keq_matrix_radio">
				<input ###DEPENDANT### type="radio" id="keq_###NAME###_###SUBQUESTION_ID###_###VALUE###" name="###PI###[###NAME###][options][###SUBQUESTION_ID###]" value="###VALUE###" ###CHECKED###>
			    </td>
			    <!-- ###COLUMN### end-->
			    <!-- ###TITLELINE### begin-->
			    <tr class="###ODD_EVEN###">
				<td colspan="###COLSPAN###">###QUESTION###</td>
			    </tr>
			    <!-- ###TITLELINE### end-->
        		<td><input type="radio" name="" /></td>
			<td><input type="radio" name="" /></td>
			<td><input type="radio" name="" /></td>
			<!-- ###COLUMNS### end-->
			<td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
		    </tr>
		    <!-- ###SUBQUESTION### end-->
		    <tr>
			<td>lorem ipsum</td>
			<td><input type="radio" name="" /></td>
			<td><input type="radio" name="" /></td>
			<td><input type="radio" name="" /></td>
		    </tr>
	        <!-- ###FIELDS### end-->
	    </tbody>
	</table>
    </div>
</div>
<!-- ###QUESTION_MATRIX_RADIO### end-->

<hr />

<!-- ###QUESTION_MATRIX_CHECKBOX### begin-->
<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_question">
        ###TITLE######TEXT###
        <!-- ###HELP### begin--><a class="keq_tooltip" href="#">
	    <img src="###HELPIMAGE###" />
	    <span class="keq_tip">
	        ###HELPTEXT###
	    </span>
	</a><!-- ###HELP### end-->
    </div>
    <div class="keq_selection">
	<table>
	    <thead>
		<tr>
		    <th></th>
		    <!-- ###HEAD### begin-->
		    <!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
		    <th>2</th>
		    <th>3</th>
		    <!-- ###HEAD### end-->
			<th></th>
		</tr>
	    </thead>
	    <tbody>
		<!-- ###FIELDS### begin-->
		<!-- ###SUBQUESTION### begin-->
	    <tr class="###ODD_EVEN###">
		    			<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###" value="###VALUE###">
				<!-- ###INPUT### end-->
			</td>
		    <!-- ###COLUMNS### begin-->
			<!-- ###COLUMN### begin-->
			<td class="keq_matrix_checkbox">
			    <input ###DEPENDANT### type="checkbox" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][]" value="###VALUE###" id="keq_###NAME###_###SUBQUESTION_ID###_###VALUE###" ###CHECKED###>
			</td>
			<!-- ###COLUMN### end-->
			<!-- ###TITLELINE### begin-->
			    <tr class="###ODD_EVEN###">
				<td colspan="###COLSPAN###">###QUESTION###</td>
			    </tr>
			<!-- ###TITLELINE### end-->
			<td><input type="radio" name="" /></td>
			<td><input type="radio" name="" /></td>
			<td><input type="radio" name="" /></td>
		    <!-- ###COLUMNS### end-->
		    <td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
		</tr>
		<!-- ###SUBQUESTION### end-->
		<tr>
		    <td>lorem ipsum</td>
		    <td><input type="radio" name="" /></td>
		    <td><input type="radio" name="" /></td>
		    <td><input type="radio" name="" /></td>
		</tr>
		<!-- ###FIELDS### end-->
	    </tbody>
	</table>
    </div>
</div>
<!-- ###QUESTION_MATRIX_CHECKBOX### end-->
<hr />

<!-- ###QUESTION_MATRIX_INPUT_TEXT### begin-->
<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_question">
        ###TITLE######TEXT###
        <!-- ###HELP### begin--><a class="keq_tooltip" href="#">
	    <img src="###HELPIMAGE###" />
	    <span class="keq_tip">
	        ###HELPTEXT###
	    </span>
	</a><!-- ###HELP### end-->
    </div>
    <div class="keq_selection">
	<table>
	    <thead>
		<tr>
		    <th></th>
		    <!-- ###HEAD### begin-->
		        <!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
		        <th>2</th>
			<th>3</th>
		    <!-- ###HEAD### end-->
			<th></th>
		</tr>
	    </thead>
	    <tbody>
		<!-- ###FIELDS### begin-->
		<!-- ###SUBQUESTION### begin-->
		    <tr class="###ODD_EVEN###">
		    			<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###" value="###VALUE###">
				<!-- ###INPUT### end-->
		    </td>
		    <!-- ###COLUMNS### begin-->
			<!-- ###COLUMN### begin-->
			    <td class="keq_matrix_input">
		    		<input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
			    </td>
			<!-- ###COLUMN### end-->
			<!-- ###TITLELINE### begin-->
			    <tr class="###ODD_EVEN###">
				<td colspan="###COLSPAN###">###QUESTION###</td>
			    </tr>
			<!-- ###TITLELINE### end-->
			<td><input type="input" name="" /></td>
			<td><input type="input" name="" /></td>
			<td><input type="input" name="" /></td>
		    <!-- ###COLUMNS### end-->
		    <td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
		</tr>
		<!-- ###SUBQUESTION### end-->
		<tr>
		    <td>lorem ipsum</td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		</tr>
		<!-- ###FIELDS### end-->
	    </tbody>
	</table>
    </div>
</div>
<!-- ###QUESTION_MATRIX_INPUT_TEXT### end-->
<hr />

<!-- ###QUESTION_MATRIX_INPUT_NUMERIC### begin-->
<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_question">
        ###TITLE######TEXT###
        <!-- ###HELP### begin--><a class="keq_tooltip" href="#">
	    <img src="###HELPIMAGE###" />
	    <span class="keq_tip">
	        ###HELPTEXT###
	    </span>
	</a><!-- ###HELP### end-->
    </div>
    <div class="keq_selection">
	<table>
	    <thead>
	        <tr>
		    <th></th>
		    <!-- ###HEAD### begin-->
			<!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
			<th>2</th>
			<th>3</th>
		    <!-- ###HEAD### end-->
			<th></th>
		</tr>
	    </thead>
	    <tbody>
		<!-- ###FIELDS### begin-->
		<!-- ###SUBQUESTION### begin-->
	    <tr class="###ODD_EVEN###">
		    			<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###" value="###VALUE###">
				<!-- ###INPUT### end-->
			</td>
		    <!-- ###COLUMNS### begin-->
		    <!-- ###COLUMN### begin-->
			<td class="keq_matrix_input">
			    <input ###DEPENDANT### type="keq_input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
			</td>
		    <!-- ###COLUMN### end-->
		    <!-- ###TITLELINE### begin-->
			    <tr class="###ODD_EVEN###">
				<td colspan="###COLSPAN###">###QUESTION###</td>
			    </tr>
		    <!-- ###TITLELINE### end-->
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <!-- ###COLUMNS### end-->
		    <td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
		</tr>
		<!-- ###SUBQUESTION### end-->
		<tr>
		    <td>lorem ipsum</td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		</tr>
		<!-- ###FIELDS### end-->
	    </tbody>
	</table>
    </div>
</div>
<!-- ###QUESTION_MATRIX_INPUT_NUMERIC### end-->

<hr />

<!-- ###QUESTION_MATRIX_INPUT_DATE### begin-->
<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_question">
        ###TITLE######TEXT###
	###HELPBOX###
    </div>
    <div class="keq_selection">
	<table>
	    <thead>
	    <tr>
		<th></th>
		<!-- ###HEAD### begin-->
		    <!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
		    <th>2</th>
		    <th>3</th>
		<!-- ###HEAD### end-->
		<th></th>
	    </tr>
	    </thead>
	    <tbody>
		<!-- ###FIELDS### begin-->
		<!-- ###SUBQUESTION### begin-->
	    <tr class="###ODD_EVEN###">
		    			<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###" value="###VALUE###">
				<!-- ###INPUT### end-->
			</td>
		    <!-- ###COLUMNS### begin-->
		    <!-- ###COLUMN### begin-->
			<td class="keq_matrix_input">
			    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
			</td>
		    <!-- ###COLUMN### end-->
		    <!-- ###TITLELINE### begin-->
			    <tr class="###ODD_EVEN###">
				<td colspan="###COLSPAN###">###QUESTION###</td>
			    </tr>
		    <!-- ###TITLELINE### end-->
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <!-- ###COLUMNS### end-->
		    <td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
		</tr>
		<!-- ###SUBQUESTION### end-->
		<tr>
		    <td>lorem ipsum</td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		    <td><input type="input" name="" /></td>
		</tr>
		<!-- ###FIELDS### end-->
	    </tbody>
	</table>
    </div>
</div>
<!-- ###QUESTION_MATRIX_INPUT_DATE### end-->

<hr />

<!-- ###QUESTION_MATRIX_INPUT_PERCENT### begin-->
<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    	<div class="keq_question">
	    ###TITLE######TEXT###
	    ###HELPBOX###
	</div>
	<div class="keq_selection">

		<table>
		<thead>
			<tr>
				<th></th>
				<!-- ###HEAD### begin-->
					<!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
				<th>2</th>
				<th>3</th>
				<!-- ###HEAD### end-->
				<th></th>

			</tr>
		</thead>
		<tbody>
			<!-- ###FIELDS### begin-->

				<!-- ###SUBQUESTION### begin-->
			    <tr class="###ODD_EVEN###">
								<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###" value="###VALUE###">
				<!-- ###INPUT### end-->
			</td>
					<!-- ###COLUMNS### begin-->
						<!-- ###COLUMN### begin-->
						<td class="keq_matrix_input">
						    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###"> %
			    			</td>
						<!-- ###COLUMN### end-->
						<!-- ###TITLELINE### begin-->
						    <tr class="###ODD_EVEN###">
							<td colspan="###COLSPAN###">###QUESTION###</td>
						    </tr>
						<!-- ###TITLELINE### end-->
						<td><input type="input" name="" /></td>
						<td><input type="input" name="" /></td>
						<td><input type="input" name="" /></td>
					<!-- ###COLUMNS### end-->
					<td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>

				</tr>
				<!-- ###SUBQUESTION### end-->

				<tr>
					<td>lorem ipsum</td>
					<td><input type="input" name="" /></td>
					<td><input type="input" name="" /></td>
					<td><input type="input" name="" /></td>
				</tr>
				<!-- ###SUM### begin-->
				</tbody>
				<tfoot>
				<tr class="###ODD_EVEN###">
					<td>###SUMME###</td>
					<!-- ###COLUMNS### begin-->
						<!-- ###COLUMN### begin-->
						<td class="keq_matrix_input">
						    <input ###DEPENDANT### type="input" value="###VALUE###"> %
			    			</td>
						<!-- ###COLUMN### end-->
						<td><input type="input" name="" /></td>
						<td><input type="input" name="" /></td>
						<td><input type="input" name="" /></td>
					<!-- ###COLUMNS### end-->
					<td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>

				</tr>
				</tfoot>
				<!-- ###SUM### end-->
			<!-- ###FIELDS### end-->


		</table>

	</div>
</div>
<!-- <input type="submit">
<input type="hidden" name="id" value="13">
</form> -->
<!-- ###QUESTION_MATRIX_INPUT_PERCENT### end-->

<!-- ###QUESTION_MATRIX_GENERAL### begin-->
<!-- <form method="GET" action="index.php"> -->

<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_img_left">###IMG_LEFT###</div>
    <div class="keq_img_right">###IMG_RIGHT###</div>
    <div class="keq_img_top">###IMG_TOP###</div>
    <div class="keq_question">
	###TITLE######TEXT###
	###HELPBOX###
    </div>
    <div class="keq_img_bottom">###IMG_BOTTOM###</div>
    <div class="keq_cleaner">&nbsp;</div>
    <div class="keq_selection">
	<table>
	    <thead>
		<tr>
		    <th></th>
		    <!-- ###HEAD### begin-->
			    <!-- ###COLUMN### begin--><th class="keq_matrix_th">###VALUE###</th><!-- ###COLUMN### end-->
			    <th>2</th>
			    <th>3</th>
		    <!-- ###HEAD### end-->
		    <th></th>
		</tr>
	    </thead>
	    <tbody>
		<!-- ###FIELDS### begin-->
		    <!-- ###SUBQUESTION### begin-->
		    <tr class="###ODD_EVEN###">
			<td>###QUESTION###
				<!-- ###INPUT### begin--><br />
					<input ###DEPENDANT### type="input" name="###PI###[###NAME###][text][###SUBQUESTION_ID###][]" id="keq_###NAME###_###SUBQUESTION_ID###" value="###VALUE###">
				<!-- ###INPUT### end-->
			</td>
			<!-- ###COLUMNS### begin-->
			    <!-- ###RADIO_COLUMN### begin-->
				<td class="keq_matrix_radio">
				    <input ###DEPENDANT### type="radio" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][single]" id="keq_###NAME###_###SUBQUESTION_ID###_###VALUE###" value="###VALUE###" ###CHECKED###>
				</td>
			    <!-- ###RADIO_COLUMN### end-->
			    <!-- ###CHECK_COLUMN### begin-->
				<td class="keq_matrix_checkbox">
				    <input ###DEPENDANT### type="checkbox" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###][]" value="###VALUE###" id="keq_###NAME###_###SUBQUESTION_ID###_###VALUE###" ###CHECKED###>
				</td>
			    <!-- ###CHECK_COLUMN### end-->
			    <!-- ###INPUT_COLUMN### begin-->
				<td class="keq_matrix_input">
				    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###][]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
				</td>
			    <!-- ###INPUT_COLUMN### end-->
			    <!-- ###INPUT_TEXT_COLUMN### begin-->
				<td class="keq_matrix_input">
				    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###][]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
				</td>
			    <!-- ###INPUT_TEXT_COLUMN### end-->
			    <!-- ###INPUT_NUMERIC_COLUMN### begin-->
				<td class="keq_matrix_input">
				    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###][]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
				    <span class="keq_format">
					###FORMAT_NUMERIC###
				    </span>
				</td>
			    <!-- ###INPUT_NUMERIC_COLUMN### end-->
			    <!-- ###INPUT_DATE_COLUMN### begin-->
				<td class="keq_matrix_input">
				    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###][]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###">
				    <span class="keq_format">
					###FORMAT_DATE###
				    </span>
				</td>
			    <!-- ###INPUT_DATE_COLUMN### end-->
			    <!-- ###INPUT_PERCENT_COLUMN### begin-->
				<td class="keq_matrix_input">
				    <input ###DEPENDANT### type="input" name="###PI###[###NAME###][options][###SUBQUESTION_ID###][###COLUMN_ID###][]" id="keq_###NAME###_###SUBQUESTION_ID###_###COLUMN_ID###" value="###VALUE###"> %
			  	</td>
			    <!-- ###INPUT_PERCENT_COLUMN### end-->
			    <!-- ###TITLELINE### begin-->
			    <tr class="###ODD_EVEN###">
				<td colspan="###COLSPAN###">###QUESTION###</td>
			    </tr>
			    <!-- ###TITLELINE### end-->
        		<!-- ###COLUMNS### end-->
			<td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
		    </tr>
		    <!-- ###SUBQUESTION### end-->
		    <!-- ###SUM### begin-->
			</tbody>
			<tfoot>
			    <tr class="###ODD_EVEN###">
				<td>###SUMME###</td>
				<!-- ###COLUMNS### begin-->
				    <!-- ###COLUMN### begin-->
					<td class="keq_matrix_input">
					    <input ###DEPENDANT### type="input" value="###VALUE###"> %
					</td>
				    <!-- ###COLUMN### end-->
				    <td><input type="input" name="" /></td>
				    <td><input type="input" name="" /></td>
				    <td><input type="input" name="" /></td>
				<!-- ###COLUMNS### end-->
				<td><!-- ###ERROR_MESSAGE### begin--><div class="keq_error">###ERROR###</div><!-- ###ERROR_MESSAGE### end--></td>
			    </tr>
			</tfoot>
		    <!-- ###SUM### end-->
	        <!-- ###FIELDS### end-->
	    </tbody>
	</table>
    </div>
</div>
<!-- ###QUESTION_MATRIX_GENERAL### end-->

</body>
</html>
