<html>
<head>
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>

<!-- ###QUESTION_DD_PICTURES### begin-->
<div class="keq_unit" id="question_###NAME###" ###DEPENDANT_STYLE###>
	<div class="keq_question">test
		###TITLE######TEXT###
		###HELPBOX###
	</div>
	<div class="keq_cleaner">&nbsp;</div>
	<div class="keq_selection">
		<!-- ###ERROR_MESSAGE### begin-->
			<div class="keq_error">###ERROR###</div>
		<!-- ###ERROR_MESSAGE### end-->
		<!-- ###FIELDS### begin-->
			<!-- ###DDAREA### begin-->
			<div  id="keq_ddarea_###NAME###" class="keq_ddpics_ddarea" style="position: relative; z-index: 1;">
				###DDIMAGE###
				###DROPAREAS###
			</div>
			<!-- ###DDAREA### end-->
			
			<!-- ###DDPICTURES### begin-->
			<br />
			<div id="keq_ddpics_###NAME###" class="keq_ddpics_pics">
				<ul id="keq_ddpics_###NAME###_gallery">
					###PICS###
				</ul>
				###ADDITIONAL_JS###
				<div class="clearer">&nbsp;</div>
			</div>
			<!-- ###DDPICTURES### end-->
		<!-- ###FIELDS### end-->
    </div>
</div>
<!-- ###QUESTION_DD_PICTURES### end-->

<!-- ###PLACEHOLDER### begin-->
<input class="checkbox" style="display: inline;" type="checkbox" name="tx_kequestionnaire_pi1[###ID###][options][]" id="keq_###ID###_###ROW###" value="###ANSWERID###">
<div id="keq-ddarea-placeholder-###ID###-###ROW###" class="keq-ddarea-placeholder keq-ddarea-placeholder-###ID###" style="
	z-index: 5;
	position: absolute;
	top: ###PH_TOP###px;
	left: ###PH_LEFT###px;
	height: ###PH_HEIGHT###px;
	width: ###PH_WIDTH###px;
"></div>
<!-- ###PLACEHOLDER### end-->

<!-- ###ANSWER_PICTURE### begin-->
<li value="###ID###">
	###IMG###
</li>
<!-- ###ANSWER_PICTURE### end-->

<!-- ###DD_PICTURES_JAVASCRIPT### begin-->
$placeHolders = $(".keq-ddarea-placeholder-###ID###");
$answers = $("#keq_ddpics_###ID###_gallery li");

$placeHolders.droppable({
	accept: "#keq_ddpics_###ID###_gallery li",
	hoverClass: "keq-hover",
	activeClass: "keq-possible",
	drop: function(event, ui) {
		placeholderValue = $( this ).prev( "input" ).attr( "id" ).replace( /keq_###ID###_/, "" );
		answerValue = ui.draggable.attr( "value" );
		if( placeholderValue == answerValue ) {
			$( this ).prev( "input" ).attr( "checked", "checked" );
		}
	},
	out: function(event, ui) {
		answerValue = ui.draggable.attr( "value" );
		$( "#keq_###ID###_" + answerValue ).removeAttr( "checked" );
	}
});

$( "#keq_ddpics_###ID###_gallery" ).droppable({
	accept: "#keq_ddpics_###ID###_gallery li",
	hoverClass: "keq-hover",
	activeClass: "keq-possible",
	drop: function(event, ui) {
		ui.draggable.css({
			"top": 0,
			"left": 0
		})
	}
});

$answers.draggable({
	cursor: "move",
	start: function(event, ui) {
		ui.helper.css( "opacity", ".3" );
	},
	stop: function(event, ui) {
		ui.helper.css( "opacity", "1" );
	},
});
<!-- ###DD_PICTURES_JAVASCRIPT### end-->

<!-- ###DOMPDF### begin-->
<div class="question">
	<div class="question_title">###QUESTION_TITLE######QUESTION###</div>
	<div class="dd_image"><img src="###BASE_PATH###/###DDIMAGE###" alt="###QUESTION_TITLE###" /></div>
	<div>###OPTIONS###</div>
</div>
<div class="question">
	###COMPARE###
</div>
<!-- ###DOMPDF### end-->

<!-- ###DOMPDF_OPTION### begin-->
<img src="###BASE_PATH######IMAGE###" width="###WIDTH###" height="###HEIGHT###" border="0" alt="###TEXT###" />
<!-- ###DOMPDF_OPTION### end-->

<!-- ###DOMPDF_COMPARE### begin-->
<div class="compare">
	<div class="dd_image" style="position: relative">
		<img src="###BASE_PATH######DDIMAGE###" alt="###QUESTION_TITLE###" />
		###OPTIONS###
	</div>
</div>
<!-- ###DOMPDF_COMPARE### end-->
</body>
</html>
