<html>
<head>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<!-- ###QUESTION_BLIND### begin-->
<div class="keq_unit keq_blindunit" id="question_###NAME###" ###DEPENDANT_STYLE###>
    <div class="keq_img_left">###IMG_LEFT###</div>
    <div class="keq_img_right">###IMG_RIGHT###</div>
    <div class="keq_img_top">###IMG_TOP###</div>
    <div class="keq_question">
        ###TITLE### ###TEXT###
    </div>
    <div class="keq_question_blind">
		<!-- ###FIELDS### begin--><!-- ###BLIND### begin-->
		    Ein bisschen Freitext.
		<!-- ###BLIND### end--><!-- ###FIELDS### end-->
    </div>
    <div class="keq_img_bottom">###IMG_BOTTOM###</div>
    <div class="keq_cleaner">&nbsp;</div>
</div>
<!-- ###QUESTION_BLIND### end-->

<!-- ###DOMPDF### begin-->
<div class="question">
    <div class="question_title">###QUESTION_TITLE######QUESTION###</div>
    ###HELPTEXT###
</div>
<!-- ###DOMPDF### end-->

</body>
</html>